<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarDealership.Properties.Settings.CarsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Cars.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CarDealership.Properties.Settings.C__USERS_DOUGLAS_SOURCE_REPOS_CARDEALERSHIP_CARDEALERSHIP_CARS_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=C:\USERS\DOUGLAS\SOURCE\REPOS\CARDEALERSHIP\CARDEALERSHIP\CARS.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>